* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Quicksand", sans-serif;
  font-size: 62.5%;

  --very-light-pink: #c7c7c7;
  --text-input-field: #f7f7f7;
  --hospital-green: #acd9b2;
  --black: black;
  --white: white;
}

.login {
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container {
  width: 90%;
  text-align: center;
  padding-top: 200px;
}

.logo {
  align-self: center;
  height: 25px;
  margin-bottom: 40px;
}

.form-container .title {
  margin-bottom: 8px;
  font-size: 1.8rem;
}

.form-container .subtitle {
  margin-bottom: 32px;
  font-size: 1.6rem;
  font-weight: 300;
  color: var(--very-light-pink);
}

.form-container .form {
  display: flex;
  flex-direction: column;
}

.form {
  text-align: left;
  align-items: center;
}

.form .label {
  text-align: left;
  margin-bottom: 4px;
  font-size: 1.4rem;
  font-weight: 700;
}

.form .input-password {
  height: 42px;
  width: 300px;
  padding: 6px;
  margin-bottom: 12px;
  font-size: 1.4rem;
  border: none;
  border-radius: 8px;
  background-color: var(--text-input-field);
}

.form .login-button {
  height: 50px;
  width: 300px;
  padding: 1px 4px;
  margin-bottom: 30px;
  border: none;
  border-radius: 8px;
  font-family: "Quicksand", sans-serif;
  background-color: var(--hospital-green);
  font-weight: 700;
  font-size: 1.6rem;
  color: white;
  cursor: pointer;
}
